@model Sistema_de_Informes_de_Analisis_Financieros.Models.Catalogodecuenta

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Catalogodecuenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codcuentacatalogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codcuentacatalogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcuentaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcuentaNavigation.Nomcuenta)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdempresaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdempresaNavigation.Nomempresa)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idempresa" />
        <input type="hidden" asp-for="Idcuenta" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
