@model Sistema_de_Informes_de_Analisis_Financieros.Models.Catalogodecuenta

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Catalogodecuenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codcuentacatalogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codcuentacatalogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcuentaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcuentaNavigation.Nomcuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdempresaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdempresaNavigation.Nomempresa)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
