@model IEnumerable<Sistema_de_Informes_de_Analisis_Financieros.Models.Catalogodecuenta>

@{
    ViewData["Title"] = "Catalogo de Cuentas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-12 col-md-9 mb-5">
    <div class="card border-dark mb-1">
        <div class="card-body text-dark text-center">
            <h5 class="card-title font-italic">"@ViewBag.nomEmpresa"</h5>
            <p class="card-text font-weight-bold">CATÁLOGO DE CUENTAS.</p>
        </div>
        @if (!Model.Any())
        {
            <div class="alert alert-info">
                No tiene registrado un catálogo de cuentas para su empresa, puede subir su archivo en este link: 
                <a class="ml-1" asp-controller="Empresas" asp-action="Edit" asp-route-id="@ViewBag.idEmpresa">Ir a edición de empresa</a>
            </div>
        }
        <table class="table text-justify">
            <thead class="table-active">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Codcuentacatalogo)
                    </th>
                    <th class="pr-2 pl-5">
                        @Html.DisplayNameFor(model => model.IdcuentaNavigation)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (!(item.Codcuentacatalogo.Equals("0")) && !(item.Codcuentacatalogo.Equals("E")) && !(item.Codcuentacatalogo.Equals("D")))
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Codcuentacatalogo)
                            </td>
                            <td class="pr-2 pl-5">
                                @Html.DisplayFor(modelItem => item.IdcuentaNavigation.Nomcuenta)
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


