@model IEnumerable<Sistema_de_Informes_de_Analisis_Financieros.Models.Empresa>

@{
    ViewData["Title"] = "Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.IsInRole("Administrator"))
{
    <h1>Empresas Registradas</h1>
    <div class="mb-4 mt-4">
        <a class="btn rounded-0 text-light" style="background-color: #409bd8;" asp-action="Create">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbspCrear Nueva Empresa
        </a>
    </div>
}
else
{
    <h1>Tu Empresa</h1>
}
<table class="table table-responsive">
    <thead class="thead-dark text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nomempresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descempresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Razonsocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdsectorNavigation)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nomempresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descempresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Razonsocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdsectorNavigation.Nomsector)
                </td>
                <td>
                    <a class="btn btn-warning px-2 py-1 rounded-circle" asp-action="Edit" asp-route-id="@item.Idempresa">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-info px-2 py-1 rounded-circle text-dark" asp-action="Details" asp-route-id="@item.Idempresa">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a class="btn btn-danger px-2 py-1 rounded-circle rounded text-dark" asp-action="Delete" asp-route-id="@item.Idempresa">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
