@model Sistema_de_Informes_de_Analisis_Financieros.Models.Ratiobasesector

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ratiobasesector</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valorratiob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valorratiob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdratioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdratioNavigation.Nombreratiob)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdsectorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdsectorNavigation.Nomsector)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idratio" />
        <input type="hidden" asp-for="Idsector" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
