@model Sistema_de_Informes_de_Analisis_Financieros.Models.Ratiobasesector

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ratiobasesector</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valorratiob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valorratiob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdratioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdratioNavigation.Nombreratiob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdsectorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdsectorNavigation.Nomsector)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
