@model IEnumerable<Sistema_de_Informes_de_Analisis_Financieros.Models.Ratiobasesector>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Valores Base de Sectores</h1>
<div class="mb-4 mt-4">
    <a class="btn rounded-0 text-light" style="background-color: #409bd8;" asp-action="Create">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbspCrear Nuevo Valor Base
    </a>
</div>
<table class="table table-responsive">
    <thead class="thead-dark text-center">
        <tr>
            <th>
                Valor Base
            </th>
            <th>
                Razón
            </th>
            <th>
                Sector
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Valorratiob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdratioNavigation.Nombreratiob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdsectorNavigation.Nomsector)
                </td>
                <td>
                    <a class="btn btn-warning px-2 py-1 rounded-circle" asp-action="Edit" asp-route-idRatio="@item.Idratio" asp-route-idSector="@item.Idsector">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    @*<a class="btn btn-info px-2 py-1 rounded-circle text-dark" asp-action="Details" asp-route-id="@item.idMensaje">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>*@
                    <a class="btn btn-danger px-2 py-1 rounded-circle rounded text-dark" asp-action="Delete" asp-route-idRatio="@item.Idratio" asp-route-idSector="@item.Idsector">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>                    
                </td>
            </tr>
        }
    </tbody>
</table>
@*<div class="courses-container">
        <div class="course">
            <div class="course-preview">
                <h6>Ratios</h6>
                <h2>Prueba Acida</h2>
                <a href="#">View all chapters <i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="course-info">
                <div class="progress-container">
                    <div class="progress"></div>
                    <span class="progress-text">
                    <h4>$ 20000</h4>
                    </span>
                </div>
                <h6>Formula</h6>
                <h2>Aquí va la formula</h2>
                <button class="btnx">Detalles</button>
            </div>
        </div>
    </div>*@


@*<script src="~/js/Card.js" asp-append-version="true"></script>*@
