@model Sistema_de_Informes_de_Analisis_Financieros.ViewModels.AnalisisRazonViewModel
@{
    ViewData["Title"] = "AnalisisRazon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center display-4">@Model.nombreRazon - @Model.tipo</h1>
<br />
<div class="row">
    <div class="col-12 col-sm-12 col-md-6">
        <form asp-action="AnalisisRazon" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="idRazon" type="hidden" value="@Model.idRazon" />
            <div class="form-group">
                <label asp-for="anio1" class="control-label">Año 1:</label>
                <select asp-for="anio1" asp-items='new SelectList(Model.anio)' id="1" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="anio2" class="control-label">Año 2:</label>
                <select asp-for="anio2" asp-items='new SelectList(Model.anio)' id="2" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Usar Estos Años" class="btn btn-block btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-12 col-sm-12 col-md-6">
        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@ViewBag.Mensaje</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (ViewBag.Mensaje1 != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@ViewBag.Mensaje1</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (ViewBag.Mensaje2 != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@ViewBag.Mensaje2</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-12 col-sm-12 col-md-4 mb-5">
        <div class="card text-center">
            <div class="card-header bg-dark text-white">
                Formula
            </div>
            <div class="card-body">
                <h6>
                    @if (Model.numerador.Count == 1)
                    {
                        @Model.numerador[0]
                    }
                    else
                    {
                        @Model.numerador[0]

                        @Model.signoNumerador

                        @Model.numerador[1]
                    }
                </h6>
                <hr style="border: 1px solid black;" />
                <h6>
                    @if (Model.denominador.Count == 1)
                    {
                        @Model.denominador[0]
                    }
                    else
                    {
                        @Model.denominador[0]

                        @Model.signoDenominador

                        @Model.denominador[1]
                    }
                </h6>
            </div>
            <div class="card-footer bg-dark text-white">
                Total
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 mb-5">
        <div class="card text-center">
            <div class="card-header bg-dark text-white">
                @Model.anio1
            </div>
            <div class="card-body">
                <h6>
                    @if (Model.numerador.Count == 1)
                    {
                        if (Model.promNum1 > -1)
                        {
                            @Model.promNum1
                        }
                        else
                        {
                            @Model.valorNumA1
                        }
                    }
                    else
                    {
                        if (Model.promNum1 > -1)
                        {
                            @Model.promNum1
                        }
                        else
                        {
                            @Model.valorNumA1
                        }

                        @Model.signoNumerador

                        @if (Model.promNum2 > -1)
                        {
                            @Model.promNum2
                        }
                        else
                        {
                            @Model.valorNum2A1
                        }
                    }
                </h6>
                <hr style="border: 1px solid black;"/>
                <h6>
                    @if (Model.denominador.Count == 1)
                    {
                        if (Model.promDen1 > -1)
                        {
                            @Model.promDen1
                        }
                        else
                        {
                            @Model.valorDenA1
                        }
                    }
                    else
                    {
                        if (Model.promDen1 > -1)
                        {
                            @Model.promDen1
                        }
                        else
                        {
                            @Model.valorDenA1
                        }

                        @Model.signoDenominador

                        @if (Model.promDen2 > -1)
                        {
                            @Model.promDen2
                        }
                        else
                        {
                            @Model.valorDen2A1
                        }
                    }
                </h6>
            </div>
            <div class="card-footer bg-dark text-white">
                Total = @Model.resA1
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 mb-5">
        <div class="card text-center">
            <div class="card-header bg-dark text-white">
                @Model.anio2
            </div>
            <div class="card-body">
                <h6>
                    @if (Model.numerador.Count == 1)
                    {
                        if (Model.promNum1 > -1)
                        {
                            @Model.promNum1
                        }
                        else
                        {
                            @Model.valorNumA2
                        }
                    }
                    else
                    {
                        if (Model.promNum1 > -1)
                        {
                            @Model.promNum1
                        }
                        else
                        {
                            @Model.valorNumA2
                        }

                        @Model.signoNumerador

                        @if (Model.promNum2 > -1)
                        {
                            @Model.promNum2
                        }
                        else
                        {
                            @Model.valorNum2A2
                        }
                    }
                </h6>
                <hr style="border: 1px solid black;"/>
                <h6>
                    @if (Model.denominador.Count == 1)
                    {
                        if (Model.promDen1 > -1)
                        {
                            @Model.promDen1
                        }
                        else
                        {
                            @Model.valorDenA2
                        }
                    }
                    else
                    {
                        if (Model.promDen1 > -1)
                        {
                            @Model.promDen1
                        }
                        else
                        {
                            @Model.valorDenA2
                        }

                        @Model.signoDenominador

                        @if (Model.promDen2 > -1)
                        {
                            @Model.promDen2
                        }
                        else
                        {
                            @Model.valorDen2A2
                        }
                    }
                </h6>
            </div>
            <div class="card-footer bg-dark text-white">
                Total = @Model.resA2
            </div>
        </div>
    </div>
</div>
<br />
<h2 class="text-center">Análisis Basado en Sector</h2>
<br />
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 mb-5">
        <div class="card text-center">
            <div class="card-header bg-dark text-white">
                Sector: @Model.valorSector
            </div>
            <div class="card-body">
                @Model.mensajeBase1
            </div>
            <div class="card-footer bg-dark text-white">
                Empresa - @Model.anio1: @Model.resA1
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 mb-5">
        <div class="card text-center">
            <div class="card-header bg-dark text-white">
                Sector: @Model.valorSector
            </div>
            <div class="card-body">
                @Model.mensajeBase2
            </div>
            <div class="card-footer bg-dark text-white">
                Empresa - @Model.anio2: @Model.resA2
            </div>
        </div>
    </div>
</div>
<br />
<h2 class="text-center">Análisis Basado en Empresas</h2>
<br />
<div class="row mb-5">
    <div class="col-12 col-sm-12 col-md-6 mb-5">
        <div class="card text-center">
            <div class="card-header bg-dark text-white">
                Promedio Empresas: @Model.valorEmpresa1
            </div>
            <div class="card-body">
                @Model.mensajeEmp1
            </div>
            <div class="card-footer bg-dark text-white">
                Empresa - @Model.anio1: @Model.resA1
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 mb-5">
        <div class="card text-center">
            <div class="card-header bg-dark text-white">
                Promedio Empresas: @Model.valorEmpresa2
            </div>
            <div class="card-body">
                @Model.mensajeEmp2
            </div>
            <div class="card-footer bg-dark text-white">
                Empresa - @Model.anio2: @Model.resA2
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $("select").change(function () {

            $("select option").attr("disabled", ""); //enable everything

            //collect the values from selected;
            var arr = $.map
                (
                    $("select option:selected"), function (n) {
                    return n.value;
                }
                );

            //disable elements
            $("select option").filter(function () {

                return $.inArray($(this).val(), arr) > -1; //if value is in the array of selected values
            }).attr("disabled", "disabled");

        });
    </script>
}