@model IEnumerable<Sistema_de_Informes_de_Analisis_Financieros.Models.Razon>

@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{ 
    var hola = (double[]) ViewData["Resultado"];
    int paco = 0;
} 
<link rel="stylesheet" href="~/css/Cards.css" />

<h1>Ratios</h1>

<p>
    <a class="btnx" asp-action="Create">Agregar Ratio</a>
</p>


@foreach (var item in Model)
{ 
    <div class="courses-container">
        <div class="course">
            <div class="course-preview">
                <h6>Ratio:</h6>
                <h4> @Html.DisplayFor(modelItem => item.nombreRazon)</h4>
                <h6>Tipo:</h6>
                <h6 class="tac"> @Html.DisplayFor(modelItem => item.tipo)</h6>
            </div>
            <div class="course-info">
                <div class="progress-container">
                    <div class="progress"></div>
                    <span class="progress-text">
                        <h4>@hola[paco]</h4>
                    </span>
                </div>
                <h6>Formula</h6>
                <h4> @Html.DisplayFor(modelItem => item.numerador)</h4>
                <h4> @Html.DisplayFor(modelItem => item.denominador)</h4>
                
                <a  asp-action="AnalisisRazon" asp-route-id="@item.idRazon" class="btnx">Detalles</a>
            </div>
        </div>
    </div>
    paco = paco + 1;
}
    <script src="~/js/Card.js" asp-append-version="true"></script>
