@model IEnumerable<Sistema_de_Informes_de_Analisis_Financieros.Models.Razon>
@using Sistema_de_Informes_de_Analisis_Financieros.ViewModels
@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    var hola = ViewData["Resultados"] as List<double>;
    int paco = 0;
}
<link rel="stylesheet" href="~/css/Cards.css" />
@if(ViewBag.noexiste)
{

    <div class="card border-primary mb-3">
        <div class="card-header"><i class="fa fa-info-circle" aria-hidden="true"></i><p>Informe</p></div>
        <div class="card-body ">
            <h2 class="card-title">Oh, Oh, Parece que no cuenta con una empresa</h2>
            <p class="card-text">
                <h3>Para poder realizar un analisis debe agregar una empresa y valores de balance</h3>
                <a asp-controller="Empresas" asp-action="Create">
                    <h6>Ingrese aquí para agregar un nuevo balance:</h6>
                </a>
            </p>
        </div>
    </div>

}
else
{
    @if (ViewBag.existe)
    {
        <h1>Razones</h1>
        <form class="form-inline active-purple-3 active-purple-4 col-12" asp-action="index">
            <input class="form-control form-control-sm ml-3 w-75" name="Buscar" value="@ViewData["Filtro"]" id="Buscar" type="text" placeholder="Buscar"
                   aria-label="Buscar">
            <div class="input-group mb-3" style="margin:10px;">
                <input type="submit" class="btn btn-outline-info" value="Buscar">
            </div>
        </form>



        @foreach (var item in Model)
        {
            <div class="row">
                <div class="courses-container col-12">
                    <div class="course col-12">
                        <div class="course-preview col-6">
                            <h6>Ratio:</h6>
                            <h4> @Html.DisplayFor(modelItem => item.nombreRazon)</h4>
                            <h6>Tipo:</h6>
                            <h6 class="tac"> @Html.DisplayFor(modelItem => item.tipo)</h6>
                            @foreach (var razon in (IEnumerable<ResultadosIndexRatio>)ViewBag.listaRazones)
                            {
                                @if (razon.Nombre == item.nombreRazon)
                                {
                                    @if (razon.ValorRazon == null || razon.ValorRazon == 0)
                                    {
                                        <h6 class="text-white">Valor: NO CALCULADO</h6>
                                    }
                                    else
                                    {
                                        <h6 class="text-white">Valor: @razon.ValorRazon</h6>
                                        //foreach(var ratio in ViewBag.Ratios)
                                        //{
                                        //    foreach(var sector in ViewBag.RazonSector)
                                        //    {
                                        //        if(ratio.IdRatio == sector.IdRatio)
                                        //        {

                                        //        }
                                        //    }
                                        //}
                                    }
                                }
                            }
                        </div>
                        <div class="course-info col-6 text-center">
                            <h6>Formula</h6>

                            <h5> @Html.DisplayFor(modelItem => item.numerador)</h5>
                            <hr style="border: 1px solid black;" />
                            <h5> @Html.DisplayFor(modelItem => item.denominador)</h5>
                            <br />
                            <a asp-action="AnalisisRazon" asp-route-idRazon="@item.idRazon" class="btnx btn-block">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
       
        <div class="card border-primary mb-3">
            <div class="card-header"><i class="fa fa-info-circle" aria-hidden="true"></i><p>Informe</p></div>
            <div class="card-body ">
                <h2 class="card-title">Parece que no tiene registrado su balance o estado financiero</h2>
                <p class="card-text">
                    <h3>Para poder usar esta función es necesario que los tenga agregados a su cuenta</h3>
                    <h6><a asp-controller="Empresas" asp-action="Index">Ingrese aquí para agregar unos cuantos</a></h6>
                </p>
            </div>
        </div>
    }
}
<script src="~/js/Card.js" asp-append-version="true"></script>
