@model IEnumerable<Sistema_de_Informes_de_Analisis_Financieros.Models.Razon>

@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{ 
    var hola =  ViewData["Resultados"] as List<double>;
    int paco = 0;
} 
<link rel="stylesheet" href="~/css/Cards.css" />

<h1>Ratios</h1>
<form class="form-inline active-purple-3 active-purple-4" asp-action="index">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" name="Buscar" value="@ViewData["Filtro"]" id="Buscar" type="text" placeholder="Buscar"
           aria-label="Buscar" >
    <div class="input-group mb-3" style="margin:10px;">
        <input type="submit" class="btn btn-outline-info" value="Buscar">
    </div>
</form>



@foreach (var item in Model)
{ 
    <div class="courses-container">
        <div class="course">
            <div class="course-preview">
                <h6>Ratio:</h6>
                <h4> @Html.DisplayFor(modelItem => item.nombreRazon)</h4>
                <h6>Tipo:</h6>
                <h6 class="tac"> @Html.DisplayFor(modelItem => item.tipo)</h6>
            </div>
            <div class="course-info">
                <div class="progress-container">
                    <div class="progress"></div>
                    <span class="progress-text">
                       
                    </span>
                </div>
                <h6>Formula</h6>

                <h5 > @Html.DisplayFor(modelItem => item.numerador)</h5>
                <strong>______________________________________</strong>
                <h5 > @Html.DisplayFor(modelItem => item.denominador)</h5>
                
                <a  asp-action="AnalisisRazon" asp-route-id="@item.idRazon" class="btnx">Detalles</a>
            </div>
        </div>
    </div>
    paco = paco + 1;
}
    <script src="~/js/Card.js" asp-append-version="true"></script>
