@model Sistema_de_Informes_de_Analisis_Financieros.ViewModels.ListCViewModel

@{
    ViewData["Title"] = "ActualizarCatalogoCuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count0 = 0;
    int count = 0;
    int count1 = 0;
    int count2 = 0;
    int count3 = 0;
    int count4 = 0;
    int count5 = 0;
    int count6 = 0;
}

<h1 style="text-align:center">Especificar clasificación de cuentas</h1>
<br>

<div class="row">
    <div class="d-flex justify-content-center" style="text-align: center;width: 100%; height: 100%">
        <form asp-action="ActualizarCCuenta" method="post" style="width: 60%; padding: 3%; background-color:lavender; border-radius:8px">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="background-color:steelblue">
                <label class="control-label" style="color: white">¿Que cuenta corresponde a ACTIVOS CORRIENTES?<input asp-for="nombre" type="hidden" name="listCs[0].nombre" value="ACTIVOS CORRIENTES"></label>
                @*<select asp-for="codCuenta" class="form-control" name="listCs[0].codCuenta[0]" asp-items="ViewBag.Idcuenta"></select>*@
                @Html.DropDownList("listCs[0].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
                                 new { @class = "search form-control" })
            </div>
            <div class="form-group" style="background-color:steelblue">
                <label class="control-label" style="color: white">¿Que cuenta corresponde a los PASIVOS CORRIENTES?<input asp-for="nombre" type="hidden" name="listCs[1].nombre" value="PASIVOS CORRIENTES"></label>
                @*<select asp-for="codCuenta" class="form-control" name="listCs[1].codCuenta[0]" asp-items="ViewBag.Idcuenta"></select>*@
                @Html.DropDownList("listCs[1].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
                                 new { @class = "search form-control" })
            </div>
            <div class="form-group" style="background-color:steelblue">
                <label class="control-label" style="color: white">¿Que cuenta corresponde a los INGRESOS?<input asp-for="nombre" type="hidden" name="listCs[2].nombre" value="INGRESOS"></label>
                @*<select asp-for="codCuenta" class="form-control" name="listCs[2].codCuenta[0]" asp-items="ViewBag.Idcuenta"></select>*@
                @Html.DropDownList("listCs[2].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
                                 new { @class = "search form-control" })
            </div>
            <div class="form-group" style="background-color:steelblue">
                <label class="control-label" style="color: white">¿Que cuenta corresponde a VENTAS?<input asp-for="nombre" type="hidden" name="listCs[3].nombre" value="VENTAS"></label>
                @*<select asp-for="codCuenta" class="form-control" name="listCs[3].codCuenta[0]" asp-items="ViewBag.Idcuenta"></select>*@
                @Html.DropDownList("listCs[3].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
                                 new { @class = "search form-control" })
            </div>
            <div class="form-group" style="background-color:steelblue">
                <input type="hidden" name="listCs[4].codCuenta.Index" value="cc(@count0)" class="border-0"/>
                <label class="control-label" style="color: white">¿Que cuenta engloba sus cuentas de INVENTARIO?<input type="hidden" asp-for="nombre" name="listCs[4].nombre" value="INVENTARIO"></label>
                <select class="search form-control" name="listCs[4].codCuenta[cc(@count0)]" asp-items="ViewBag.Idcuenta"></select>
                @*@Html.DropDownList("listCs[4].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
                                 new { @class = "search form-control" })*@
            </div>
            <div id="newRow0" class="form-group"></div>
            <button id="addRow0" type="button" class="btn btn-info form-group row">Añadir otra cuenta</button>
            <div class="form-group" style="background-color:steelblue">
                <input type="hidden" name="listCs[5].codCuenta.Index" value="cc(@count)" class="border-0" />
                <label class="control-label" style="color: white">¿Que cuenta engloba sus cuentas de EFECTIVO + VALORES DE CORTO PLAZO?<input asp-for="nombre" type="hidden" name="listCs[5].nombre" value="EFECTIVO + VALORES DE CORTO PLAZO"></label>
                <select class="search form-control" name="listCs[5].codCuenta[cc(@count)]" asp-items="ViewBag.Idcuenta"></select>
                @*@Html.DropDownList("listCs[5].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
            new { @class = "search form-control" })*@
            </div>
            <div id="newRow" class="form-group"></div>
            <button id="addRow" type="button" class="btn btn-info form-group row">Añadir otra cuenta</button>
            <div class="form-group" style="background-color:steelblue">
                <label class="control-label" style="color: white">¿Que cuenta corresponde al COSTO DE LAS VENTAS?<input asp-for="nombre" type="hidden" name="listCs[6].nombre" value="COSTO DE LAS VENTAS"></label>
                @*<select asp-for="codCuenta" class="form-control" name="listCs[6].codCuenta[0]" asp-items="ViewBag.Idcuenta"></select>*@
                @Html.DropDownList("listCs[6].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
                                 new { @class = "search form-control" })
            </div>
            <div class="form-group" style="background-color:steelblue">
                <label class="control-label" style="color: white">¿Que cuenta corresponde a las VENTAS NETAS?<input asp-for="nombre" type="hidden" name="listCs[7].nombre" value="VENTAS NETAS"></label>
                @*<select asp-for="codCuenta" class="form-control" name="listCs[7].codCuenta[0]" asp-items="ViewBag.Idcuenta"></select>*@
                @Html.DropDownList("listCs[7].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
                                 new { @class = "search form-control" })
            </div>
            <div class="form-group" style="background-color:steelblue">
                <input type="hidden" name="listCs[8].codCuenta.Index" value="cc(@count1)" class="border-0" />
                <label class="control-label" style="color: white">¿Que cuenta engloba las CUENTAS POR COBRAR COMERCIALES?<input asp-for="nombre" type="hidden" name="listCs[8].nombre" value="CUENTAS POR COBRAR COMERCIALES"></label>
                <select class="search form-control" name="listCs[8].codCuenta[cc(@count1)]" asp-items="ViewBag.Idcuenta"></select>
                @*@Html.DropDownList("listCs[8].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
            new { @class = "search form-control" })*@
            </div>
            <div id="newRow1"></div>
            <button id="addRow1" type="button" class="btn btn-info form-group row" asp-route-lista="@ViewBag.Idcuenta">Añadir otra cuenta</button>
            <div class="form-group" style="background-color:steelblue">
                <label class="control-label" style="color: white">¿Que cuenta corresponde a las COMPRAS?<input asp-for="nombre" type="hidden" name="listCs[9].nombre" value="COMPRAS"></label>
                @*<select asp-for="codCuenta" class="form-control" name="listCs[9].codCuenta[0]" asp-items="ViewBag.Idcuenta"></select>*@
                @Html.DropDownList("listCs[9].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
                                 new { @class = "search form-control" })
            </div>
            <div class="form-group" style="background-color:steelblue">
                <input type="hidden" name="listCs[10].codCuenta.Index" value="cc(@count2)" class="border-0" />
                <label class="control-label" style="color: white">¿Que cuenta engloba las CUENTAS POR PAGAR COMERCIALES?<input asp-for="nombre" type="hidden" name="listCs[10].nombre" value="CUENTAS POR PAGAR COMERCIALES"></label>
                <select class="search form-control" name="listCs[10].codCuenta[cc(@count2)]" asp-items="ViewBag.Idcuenta"></select>
                @*@Html.DropDownList("listCs[10].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
            new { @class = "search form-control" })*@
            </div>
            <div id="newRow2"></div>
            <button id="addRow2" type="button" class="btn btn-info form-group row">Añadir otra cuenta</button>
            <div class="form-group" style="background-color:steelblue">
                <label class="control-label" style="color: white">¿Que cuenta engloba las cuentas de ACTIVO FIJO NETO?<input asp-for="nombre" type="hidden" name="listCs[11].nombre" value="ACTIVO FIJO NETO"></label>
                @*<select asp-for="codCuenta" class="form-control" name="listCs[11].codCuenta[0]" asp-items="ViewBag.Idcuenta"></select>*@
                @Html.DropDownList("listCs[11].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
                                 new { @class = "search form-control" })
            </div>
            <div class="form-group" style="background-color:steelblue">
                <label class="control-label" style="color: white">¿Que cuenta engloba las cuentas de GASTOS FINANCIEROS?<input asp-for="nombre" type="hidden" name="listCs[12].nombre" value="GASTOS FINANCIEROS"></label>
                @*<select asp-for="codCuenta" class="form-control" name="listCs[12].codCuenta[0]" asp-items="ViewBag.Idcuenta"></select>*@
                @Html.DropDownList("listCs[12].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
                                 new { @class = "search form-control" })
            </div>
            <div class="form-group" style="background-color:steelblue">
                <input type="hidden" name="listCs[13].codCuenta.Index" value="cc(@count3)" class="border-0" />
                <label class="control-label" style="color: white">¿Que cuenta corresponde a la INVERSION?<input asp-for="nombre" type="hidden" name="listCs[13].nombre" value="INVERSION"></label>
                <select class="search form-control" name="listCs[13].codCuenta[cc(@count3)]" asp-items="ViewBag.Idcuenta"></select>
                @*@Html.DropDownList("listCs[13].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
            new { @class = "search form-control" })*@
            </div>
            <div id="newRow3"></div>
            <button id="addRow3" type="button" class="btn btn-info form-group row">Añadir otra cuenta</button>
            <div class="form-group" style="background-color:steelblue">
                <input type="hidden" name="listCs[14].codCuenta.Index" value="cc(@count4)" class="border-0" />
                <label class="control-label" style="color: white">¿Que cuenta engloba OTROS INGRESOS?<input asp-for="nombre" type="hidden" name="listCs[14].nombre" value="OTROS INGRESOS"></label>
                <select class="search form-control" name="listCs[14].codCuenta[cc(@count4)]" asp-items="ViewBag.Idcuenta"></select>
                @*@Html.DropDownList("listCs[14].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
            new { @class = "search form-control" })*@
            </div>
            <div id="newRow4"></div>
            <button id="addRow4" type="button" class="btn btn-info form-group row">Añadir otra cuenta</button>
            <div class="form-group" style="background-color:steelblue">
                <input type="hidden" name="listCs[15].codCuenta.Index" value="cc(@count5)" class="border-0" />
                <label class="control-label" style="color: white">¿Que cuenta engloba a las cuentas de IMPUESTOS?<input asp-for="nombre" type="hidden" name="listCs[15].nombre" value="IMPUESTOS"></label>
                <select class="search form-control" name="listCs[15].codCuenta[cc(@count5)]" asp-items="ViewBag.Idcuenta"></select>
                @*@Html.DropDownList("listCs[15].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
            new { @class = "search form-control" })*@
            </div>
            <div id="newRow5"></div>
            <button id="addRow5" type="button" class="btn btn-info form-group row">Añadir otra cuenta</button>
            <div class="form-group" style="background-color:steelblue">
                <input type="hidden" name="listCs[16].codCuenta.Index" value="cc(@count6)" class="border-0" />
                <label class="control-label" style="color: white">¿Que cuenta engloba a las cuentas de INTERESES?<input asp-for="nombre" type="hidden" name="listCs[16].nombre" value="INTERESES"></label>
                <select class="search form-control" name="listCs[16].codCuenta[cc(@count6)]" asp-items="ViewBag.Idcuenta"></select>
                @*@Html.DropDownList("listCs[16].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"),
            new { @class = "search form-control" })*@
            </div>
            <div id="newRow6"></div>
            <button id="addRow6" type="button" class="btn btn-info form-group row">Añadir otra cuenta</button>
            <div class="form-group" style="background-color:steelblue">
                <label class="control-label" style="color: white">¿Que cuenta engloba a las cuentas de NUMERO DE ACCIONES?<input asp-for="nombre" type="hidden" name="listCs[17].nombre" value="NUMERO DE ACCIONES"></label>
                @*<select asp-for="codCuenta" class="form-control" name="listCs[16].codCuenta[0]" asp-items="ViewBag.Idcuenta"></select>*@
                @Html.DropDownList("listCs[17].codCuenta[0]", new SelectList(ViewBag.Idcuenta, "Value", "Text"), "**Selecciona una cuenta**",
                                 new { @class = "search form-control" })
            </div>
            <div class="form-group">
                <input id="updateCC" type="submit" value="Actualizar" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.search').select2({ width: '100%' });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(document).on("click", "#addRow0", function () {
                var count0 = $("div[id*='fila0']").length + 1;
                var html = '';
                var id = "#catalogo0" + count0;
                html += '<div id="fila0" class="inputFormRow" style="padding-right: 2.5%; padding-left: 2.5%; padding-top:1.5%"><div class="row">';
                html += '<input type="hidden" name="listCs[4].codCuenta.Index" value="cc(' + count0 + ')" />';
                html += '<select id ="catalogo0' + count0 + '" class="search form-control" name="listCs[4].codCuenta[cc(' + count0 + ')]"></select>';
                html += '<div class="input-group-append" style="padding-top:1%">';
                html += '<button id="removeRow0" type="button" class="btn btn-danger">Eliminar</button></div>';
                html += '</div>';
                html += '</div>';
                $('#newRow0').append(html);
                $('.search').select2({ width: '100%' });
                $.ajax({
                    url: "GetCC",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {
                        console.log(result);
                        var cuentas = "";
                        $(result).each(function (index, valor) {
                            cuentas = cuentas + '<option value="' + valor.codcuentacatalogo + '">' + valor.idcuentaNavigation.nomcuenta + '</option>'
                        });
                        var catalogoC = $(id);
                        catalogoC.empty();
                        catalogoC.append(cuentas);
                    },
                    error: function (data) {
                        return "Error";
                    }
                });
            });
            // remove row
            $(document).on('click', '#removeRow0', function () {
                $(this).closest('.inputFormRow').remove();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(document).on("click", "#addRow", function () {
                var count = $("div[id*='fila1']").length + 1;
                var html = '';
                var id = "#catalogo" + count;
                html += '<div id="fila1" class="inputFormRow" style="padding-right: 2.5%; padding-left: 2.5%; padding-top:1.5%"><div class="row">';
                html += '<input type="hidden" name="listCs[5].codCuenta.Index" value="cc(' + count + ')" />';
                html += '<select id ="catalogo' + count + '" class="search form-control" name="listCs[5].codCuenta[cc(' + count + ')]"></select>';
                html += '<div class="input-group-append" style="padding-top:1%">';
                html += '<button id="removeRow" type="button" class="btn btn-danger">Eliminar</button></div>';
                html += '</div>';
                html += '</div>';
                $('#newRow').append(html);
                $('.search').select2({ width: '100%' });
                $.ajax({
                    url: "GetCC",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {
                        console.log(result);
                        var cuentas = "";
                        $(result).each(function (index, valor) {
                            cuentas = cuentas + '<option value="' + valor.codcuentacatalogo + '">' + valor.idcuentaNavigation.nomcuenta + '</option>'
                        });
                        var catalogoC = $(id);
                        catalogoC.empty();
                        catalogoC.append(cuentas);
                    },
                    error: function (data) {
                        return "Error";
                    }
                });
            });
            // remove row
            $(document).on('click', '#removeRow', function () {
                $(this).closest('.inputFormRow').remove();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(document).on("click", "#addRow1", function () {
                var count1 = $("div[id*='fila2']").length + 1;
                var html = '';
                html += '<div id="fila2" class="inputFormRow" style="padding-right: 2.5%; padding-left: 2.5%; padding-top:1.5%"><div class="row">';
                html += '<input type="hidden" name="listCs[8].codCuenta.Index" value="cc(' + count1 + ')" />';
                html += '<select id ="catalogo1' + count1 + '" class="search form-control" name="listCs[8].codCuenta[cc(' + count1 + ')]"></select>';
                html += '<div class="input-group-append" style="padding-top:1%">';
                html += '<button id="removeRow1" type="button" class="btn btn-danger">Eliminar</button></div>';
                html += '</div>';
                html += '</div>';
                $('#newRow1').append(html);
                $('.search').select2({ width: '100%' });
                $.ajax({
                    url: "GetCC",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {
                        console.log(result);
                        var cuentas = "";
                        $(result).each(function (index, valor) {
                            cuentas = cuentas + '<option value="' + valor.codcuentacatalogo + '">' + valor.idcuentaNavigation.nomcuenta + '</option>'
                        });
                        var catalogoC = $("#catalogo1" + count1);
                        catalogoC.empty();
                        catalogoC.append(cuentas);
                    },
                    error: function (data) {
                        return "Error";
                    }
                });
            });
            // remove row
            $(document).on('click', '#removeRow1', function () {
                $(this).closest('.inputFormRow').remove();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(document).on("click", "#addRow2", function () {
                var count2 = $("div[id*='fila3']").length + 1;
                var html = '';
                html += '<div id="fila3" class="inputFormRow" style="padding-right: 2.5%; padding-left: 2.5%; padding-top:1.5%"><div class="row">';
                html += '<input type="hidden" name="listCs[10].codCuenta.Index" value="cc(' + count2 + ')" />';
                html += '<select id ="catalogo2' + count2 + '" class="search form-control" name="listCs[10].codCuenta[cc(' + count2 + ')]"></select>';
                html += '<div class="input-group-append" style="padding-top:1%">';
                html += '<button id="removeRow2" type="button" class="btn btn-danger">Eliminar</button></div>';
                html += '</div>';
                html += '</div>';
                $('#newRow2').append(html);
                $('.search').select2({ width: '100%' });
                $.ajax({
                    url: "GetCC",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {
                        console.log(result);
                        var cuentas = "";
                        $(result).each(function (index, valor) {
                            cuentas = cuentas + '<option value="' + valor.codcuentacatalogo + '">' + valor.idcuentaNavigation.nomcuenta + '</option>'
                        });
                        var catalogoC = $("#catalogo2" + count2);
                        catalogoC.empty();
                        catalogoC.append(cuentas);
                    },
                    error: function (data) {
                        return "Error";
                    }
                });
            });
            // remove row
            $(document).on('click', '#removeRow2', function () {
                $(this).closest('.inputFormRow').remove();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(document).on("click", "#addRow3", function () {
                var count3 = $("div[id*='fila4']").length + 1;
                var html = '';
                html += '<div id="fila4" class="inputFormRow" style="padding-right: 2.5%; padding-left: 2.5%; padding-top:1.5%"><div class="row">';
                html += '<input type="hidden" name="listCs[13].codCuenta.Index" value="cc(' + count3 + ')" />';
                html += '<select id ="catalogo3' + count3 + '" class="search form-control" name="listCs[13].codCuenta[cc(' + count3 + ')]"></select>';
                html += '<div class="input-group-append" style="padding-top:1%">';
                html += '<button id="removeRow3" type="button" class="btn btn-danger">Eliminar</button></div>';
                html += '</div>';
                html += '</div>';
                $('#newRow3').append(html);
                $('.search').select2({ width: '100%' });
                $.ajax({
                    url: "GetCC",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {
                        console.log(result);
                        var cuentas = "";
                        $(result).each(function (index, valor) {
                            cuentas = cuentas + '<option value="' + valor.codcuentacatalogo + '">' + valor.idcuentaNavigation.nomcuenta + '</option>'
                        });
                        var catalogoC = $("#catalogo3" + count3);
                        catalogoC.empty();
                        catalogoC.append(cuentas);
                    },
                    error: function (data) {
                        return "Error";
                    }
                });
            });
            // remove row
            $(document).on('click', '#removeRow3', function () {
                $(this).closest('.inputFormRow').remove();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(document).on("click", "#addRow4", function () {
                var count4 = $("div[id*='fila5']").length + 1;
                var html = '';
                html += '<div id="fila5" class="inputFormRow" style="padding-right: 2.5%; padding-left: 2.5%; padding-top:1.5%"><div class="row">';
                html += '<input type="hidden" name="listCs[14].codCuenta.Index" value="cc(' + count4 + ')" />';
                html += '<select id ="catalogo4' + count4 + '" class="search form-control" name="listCs[14].codCuenta[cc(' + count4 + ')]"></select>';
                html += '<div class="input-group-append" style="padding-top:1%">';
                html += '<button id="removeRow4" type="button" class="btn btn-danger">Eliminar</button></div>';
                html += '</div>';
                html += '</div>';
                $('#newRow4').append(html);
                $('.search').select2({ width: '100%' });
                $.ajax({
                    url: "GetCC",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {
                        console.log(result);
                        var cuentas = "";
                        $(result).each(function (index, valor) {
                            cuentas = cuentas + '<option value="' + valor.codcuentacatalogo + '">' + valor.idcuentaNavigation.nomcuenta + '</option>'
                        });
                        var catalogoC = $("#catalogo4" + count4);
                        catalogoC.empty();
                        catalogoC.append(cuentas);
                    },
                    error: function (data) {
                        return "Error";
                    }
                });
            });
            // remove row
            $(document).on('click', '#removeRow4', function () {
                $(this).closest('.inputFormRow').remove();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(document).on("click", "#addRow5", function () {
                var count5 = $("div[id*='fila6']").length + 1;
                var html = '';
                html += '<div id="fila6" class="inputFormRow" style="padding-right: 2.5%; padding-left: 2.5%; padding-top:1.5%"><div class="row">';
                html += '<input type="hidden" name="listCs[15].codCuenta.Index" value="cc(' + count5 + ')" />';
                html += '<select id ="catalogo5' + count5 + '" class="search form-control" name="listCs[15].codCuenta[cc(' + count5 + ')]"></select>';
                html += '<div class="input-group-append" style="padding-top:1%">';
                html += '<button id="removeRow5" type="button" class="btn btn-danger">Eliminar</button></div>';
                html += '</div>';
                html += '</div>';
                $('#newRow5').append(html);
                $('.search').select2({ width: '100%' });
                $.ajax({
                    url: "GetCC",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {
                        console.log(result);
                        var cuentas = "";
                        $(result).each(function (index, valor) {
                            cuentas = cuentas + '<option value="' + valor.codcuentacatalogo + '">' + valor.idcuentaNavigation.nomcuenta + '</option>'
                        });
                        var catalogoC = $("#catalogo5" + count5);
                        catalogoC.empty();
                        catalogoC.append(cuentas);
                    },
                    error: function (data) {
                        return "Error";
                    }
                });
            });
            // remove row
            $(document).on('click', '#removeRow5', function () {
                $(this).closest('.inputFormRow').remove();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(document).on("click", "#addRow6", function () {
                var count6 = $("div[id*='fila7']").length + 1;
                var html = '';
                html += '<div id="fila7" class="inputFormRow" style="padding-right: 2.5%; padding-left: 2.5%; padding-top:1.5%"><div class="row">';
                html += '<input type="hidden" name="listCs[16].codCuenta.Index" value="cc(' + count6 + ')" />';
                html += '<select id ="catalogo6' + count6 + '" class="search form-control" name="listCs[16].codCuenta[cc(' + count6 + ')]"></select>';
                html += '<div class="input-group-append" style="padding-top:1%">';
                html += '<button id="removeRow6" type="button" class="btn btn-danger">Eliminar</button></div>';
                html += '</div>';
                html += '</div>';
                $('#newRow6').append(html);
                $('.search').select2({ width: '100%' });   
                $.ajax({
                    url: "GetCC",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {
                        console.log(result);
                        var cuentas = "";
                        $(result).each(function (index, valor) {
                            cuentas = cuentas + '<option value="' + valor.codcuentacatalogo + '">' + valor.idcuentaNavigation.nomcuenta + '</option>'
                        });
                        var catalogoC = $("#catalogo6" + count6);
                        catalogoC.empty();
                        catalogoC.append(cuentas);
                    },
                    error: function (data) {
                        return "Error";
                    }
                });
            });
            // remove row
            $(document).on('click', '#removeRow6', function () {
                $(this).closest('.inputFormRow').remove();
            });
        });
    </script>
}
